In [1]:
import pandas as pd
import numpy as np

In [13]:
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

## 데이터 수정

In [4]:
sr[0] = 100
# sr['aa'] = 100
# sr.iloc[0] = 100
# sr.loc['aa'] = 100
sr

aa    100
bb     20
cc     30
dd     40
ee     50
Name: 국어점수, dtype: int64

In [6]:
sr[1:4] = 11 # 0,1,2,3 을 11로 수정
sr

aa    100
bb     11
cc     11
dd     11
ee     50
Name: 국어점수, dtype: int64

In [14]:
sr[1:4] = [1,2,3]
# sr['bb':'dd'] = [1,2,3]
# sr.iloc[1:4] = [1,2,3]
# sr.loc['bb':'dd'] = [1,2,3]
sr

aa    10
bb     1
cc     2
dd     3
ee    50
Name: 국어점수, dtype: int64

In [15]:
sr[1:4] = sr[1:4] +2
sr

aa    10
bb     3
cc     4
dd     5
ee    50
Name: 국어점수, dtype: int64

***

In [22]:
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [23]:
# 30 이상인 데이터에 5를 더한 값으로 수정
# sr[sr >= 30] = sr[sr >= 30] + 5
sr[sr >= 30] += 5
sr

aa    10
bb    20
cc    35
dd    45
ee    55
Name: 국어점수, dtype: int64

## 추가

In [29]:
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [25]:
sr.loc['ff'] = 100 #해당 인덱스가 있으면 수정, 없으면 추가.(부여된 인덱스로)
sr

aa     10
bb     20
cc     30
dd     40
ee     50
ff    100
Name: 국어점수, dtype: int64

In [28]:
sr = sr.append(pd.Series([200,300,400], index=['gg','hh','ii'])) #변수지정해줘야 반영됨. 아니면 그냥 메모리에 저장+출력
sr

aa     10
bb     20
cc     30
dd     40
ee     50
ff    100
gg    200
hh    300
ii    400
dtype: int64

## 삭제
- drop (부여된 인덱스/loc)

In [30]:
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [31]:
sr.drop(['aa','dd']) #변수지정해줘야 반영됨. 아니면 그냥 메모리에 저장+출력

bb    20
cc    30
ee    50
Name: 국어점수, dtype: int64

In [33]:
sr.drop(['aa','dd'],inplace=True) # inplace=True 면 출력 안하고 시리즈에 바로 적용

In [34]:
sr

bb    20
cc    30
ee    50
Name: 국어점수, dtype: int64

***

In [42]:
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [40]:
# 30 이상인 데이터를 삭제하시오
sr.drop(sr[sr>=30].index,inplace=True) # index출력
sr.drop(sr.index[sr>=30], inplace=True) # index출력
sr

Series([], Name: 국어점수, dtype: int64)

aa    10
bb    20
Name: 국어점수, dtype: int64

In [43]:
sr[sr>=30]

cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [51]:
sr.index[sr>=30]

Index(['aa', 'cc', 'dd', 'ee'], dtype='object')

***

## 정렬

In [44]:
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [45]:
sr['aa'] = 100

In [46]:
sr.sort_values() # 오름차순 정렬, inplace=True해야 sr에 반영됨

bb     20
cc     30
dd     40
ee     50
aa    100
Name: 국어점수, dtype: int64

In [49]:
sr.sort_values(ascending=False) # 내림차순 정렬, inplace=True해야 sr에 반영됨

aa    100
ee     50
dd     40
cc     30
bb     20
Name: 국어점수, dtype: int64

In [52]:
sr.sort_index(ascending=False) # 인덱스 내림차순 정렬, inplace=True해야 sr에 반영됨

ee     50
dd     40
cc     30
bb     20
aa    100
Name: 국어점수, dtype: int64