In [1]:
import pandas as pd
import numpy as np

In [2]:
sr = pd.Series(['홍길동','이순신','김철수','김순이',
               '이홍김'] )
sr.index=['aa','bb','cc','dd','ee']
sr

aa    홍길동
bb    이순신
cc    김철수
dd    김순이
ee    이홍김
dtype: object

## 데이터가 문자열인 경우 str속성을 이용
- sr.index.str

https://pandas.pydata.org/pandas-docs/version/0.15.2/api.html

In [9]:
print(type(sr.str))

<class 'pandas.core.strings.accessor.StringMethods'>

In [3]:
sr.str[0]

aa    홍
bb    이
cc    김
dd    김
ee    이
dtype: object

In [4]:
sr.str[1:]

aa    길동
bb    순신
cc    철수
dd    순이
ee    홍김
dtype: object

In [8]:
sr.str.contains('김') #데이터가 문자열인 경우 검색할 때

aa    False
bb    False
cc     True
dd     True
ee     True
dtype: bool

In [10]:
sr[sr.str.contains('김')] # boolean 인덱싱

cc    김철수
dd    김순이
ee    이홍김
dtype: object

In [13]:
sr.index.str.contains('a') #데이터가 문자열인 경우 검색할 때(index이용)

array([ True, False, False, False, False])

In [14]:
sr[sr.index.str.contains('a')] # boolean 인덱싱

aa    홍길동
dtype: object

## 정규표현식 메타기호
- . ^ $ * + ? { } [ ] \ | ( )
- https://wikidocs.net/4308

In [15]:
sr[sr.str.contains('^김')]  # 김으로 시작

cc    김철수
dd    김순이
dtype: object

In [16]:
sr[sr.str.contains('김$')] # 김으로 끝

ee    이홍김
dtype: object

In [17]:
sr[sr.str.contains('[홍이]')] # 문자의 집합. 홍 또는 이가 있는

aa    홍길동
bb    이순신
dd    김순이
ee    이홍김
dtype: object

In [18]:
sr[sr.str.contains('[홍이]순')] # 홍순 또는 이순

bb    이순신
dtype: object

In [19]:
sr[sr.str.contains('길동|순이|이홍')] #길동 또는 순이 또는 이홍

aa    홍길동
dd    김순이
ee    이홍김
dtype: object

In [20]:
sr.str.replace('^김','황') # 김으로 시작하는것중에 김을 황으로

<ipython-input-20-4796369c6c21>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  sr.str.replace('^김','황')

aa    홍길동
bb    이순신
cc    황철수
dd    황순이
ee    이홍김
dtype: object

In [22]:
sr =sr.str.replace('^김','황',regex=True) #변수로 받아줘야 sr에 반영됨.
sr

aa    홍길동
bb    이순신
cc    황철수
dd    황순이
ee    이홍김
dtype: object

In [24]:
sr = pd.Series(['홍길동','이순신','김철수','김순이',
               '이홍김'] )
sr.index=['aa','bb','cc','dd','ee']
sr

sr.str.replace('김[철이]','황',regex=True)  # 김으로시작하고 다음글자가 철 또는 이 (김철 또는 김이) 를 황으로 바꿈

aa    홍길동
bb    이순신
cc     황수
dd    김순이
ee    이홍김
dtype: object

In [25]:
sr.str.extract('(^김)') # 김 있는것만 추출 (dataframe) --> 괄호(그룹) 꼭 줘야함

      0
aa  NaN
bb  NaN
cc    김
dd    김
ee  NaN

In [29]:
sr.str.extract('(^김)([가-힣]+)') # 김으로 시작하고 한글이 1회 이상 반복

      0    1
aa  NaN  NaN
bb  NaN  NaN
cc    김   철수
dd    김   순이
ee  NaN  NaN

In [30]:
sr.str.extract('([가-힣])([가-힣]+)')

    0   1
aa  홍  길동
bb  이  순신
cc  김  철수
dd  김  순이
ee  이  홍김

In [31]:
sr.str.extract('([가-힣]{2})([가-힣]+)')

     0  1
aa  홍길  동
bb  이순  신
cc  김철  수
dd  김순  이
ee  이홍  김