In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import matplotlib
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False

In [2]:
sr = pd.Series( [90,90,55,60,76,80,76,88,30,25],
               name="국어점수" )
sr.index=['홍길동','이순신','임꺽정','정난정',
         '이이','이황','정도전','김철수1',
          '김철수2','김철수3']
sr

홍길동     90
이순신     90
임꺽정     55
정난정     60
이이      76
이황      80
정도전     76
김철수1    88
김철수2    30
김철수3    25
Name: 국어점수, dtype: int64

***

( 연습문제 )
1. 국어점수가 가장큰값을 구하시요
2. 국어점수가 가장큰값의 이름을 구하시요
3. 국어점수가 80점이상인 값을 구하시요
4. 국어 점수가 50점이상 80점이하인 값을 구하시요
5. 이름이 김으로 시작하는 데이터를 구하시요

In [3]:
#1 국어점수가 가장큰값을 구하시요
sr.max()

90

In [23]:
#2 국어점수가 가장큰값의 이름을 구하시요
sr[sr == sr.max()].index
sr.nlargest(n=1,keep='all').index

Index(['홍길동', '이순신'], dtype='object')

In [19]:
#3 국어점수가 80점이상인 값을 구하시요
sr[sr >=80]

홍길동     90
이순신     90
이황      80
김철수1    88
Name: 국어점수, dtype: int64

In [7]:
#4 국어 점수가 50점이상 80점이하인 값을 구하시요
sr[sr.between(50,80)]

임꺽정    55
정난정    60
이이     76
이황     80
정도전    76
Name: 국어점수, dtype: int64

In [24]:
#5 이름이 김으로 시작하는 데이터를 구하시요
sr[sr.index.str.contains('^김')]
sr[sr.index.str.startswith('김')]

김철수1    88
김철수2    30
김철수3    25
Name: 국어점수, dtype: int64

***

In [ ]:
6. 국어점수의 평균을 구하시요
7. 국어점수의 총합을 구하시요
8. 국어점수의 표준편차를 구하시요
9. 국어점수가 40점이하인 데이터를 삭제하시요
10. 국어점수가 50점이상인 데이터에 가산점 10%를 
미만인경우는 20%를 부여하시요

In [25]:
#6
sr.mean()

67.0

In [26]:
#7
sr.sum()

670

In [27]:
#8
sr.std()

23.935097428021656

In [31]:
#9
sr.drop(sr[sr<=40].index)
sr

홍길동     90
이순신     90
임꺽정     55
정난정     60
이이      76
이황      80
정도전     76
김철수1    88
Name: 국어점수, dtype: int64

In [35]:
# 10 국어점수가 50점이상인 데이터에 가산점 10%를 미만인경우는 20%를 부여하시요

def fn(v):
    if v >=50:
        return v*1.1
    else:
        return v*1.2

In [38]:
sr.apply(fn)

홍길동     99.0
이순신     99.0
임꺽정     60.5
정난정     66.0
이이      83.6
이황      88.0
정도전     83.6
김철수1    96.8
Name: 국어점수, dtype: float64

In [ ]:
sr.apply(lambda v:v*1.1 if v >=50 else v*1.2)