In [1]:
import pandas as pd
import numpy as np

In [2]:
d1 = [[1,2],[3,4],[5,6]]
d2 = [(1,2),(3,4),(5,6)]
d3 = [{'kor':1, 'eng':2},
      {'kor':3, 'eng':4},
      {'kor':5, 'eng':6}]
d4 ={'kor':[1,3,5],'eng':[2,4,6]}

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [7]:
df1 = pd.DataFrame(data=d1,index=['aa','bb','cc'],columns=['eng','kor'])
df1

    eng  kor
aa    1    2
bb    3    4
cc    5    6

In [8]:
df2 = pd.DataFrame(data=d2)
d2

[(1, 2), (3, 4), (5, 6)]

In [9]:
df3 = pd.DataFrame(data=d3)
df3

   kor  eng
0    1    2
1    3    4
2    5    6

In [10]:
df4 = pd.DataFrame(data=d4)
df4

   kor  eng
0    1    2
1    3    4
2    5    6