In [1]:
import pandas as pd
import numpy as np

In [16]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data, index=['a','b','c','d'] )
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [3]:
df+2 #요소별 연산

   eng  kor  math
a   12   22    92
b   32   42    52
c   52   62    22
d   72   82    72

In [4]:
df*2

   eng  kor  math
a   20   40   180
b   60   80   100
c  100  120    40
d  140  160   140

In [7]:
df['eng']= 11 # eng칼럼 11로 수정
df

   eng  kor  math
a   11   20    90
b   11   40    50
c   11   60    20
d   11   80    70

In [14]:
df['eng'] = [1,2,3,4]
df

   eng  kor  math
a    1   20    90
b    2   40    50
c    3   60    20
d    4   80    70

In [17]:
df['eng']=df['eng']+2
df

   eng  kor  math
a   12   20    90
b   32   40    50
c   52   60    20
d   72   80    70

In [20]:
df.loc['a'] = df.loc['a'] +2
df

In [22]:
df.loc['b':'c','kor':] = [[1,2],[3,4]]
df

In [26]:
df.loc['b':'c','kor':] = df.loc['b':'c','kor':]+2
df

   eng  kor  math
a   14   22    92
b   32    3     4
c   52    5     6
d   72   80    70

## boolean 인덱싱 (행단위)

In [27]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data, index=['a','b','c','d'] )
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [28]:
df[[True,False,True,True]]

   eng  kor  math
a   10   20    90
c   50   60    20
d   70   80    70

## 관계연산자 (컬럼)

In [29]:
df['kor']>40

a    False
b    False
c     True
d     True
Name: kor, dtype: bool

In [30]:
df[df['kor']>40]

   eng  kor  math
c   50   60    20
d   70   80    70

## 논리연산자 ( & , | , ~ ) (컬럼)

In [31]:
(df['eng'] == 30) | (df['eng']==70)

a    False
b     True
c    False
d     True
Name: eng, dtype: bool

In [32]:
df[(df['eng'] == 30) | (df['eng']==70)]

   eng  kor  math
b   30   40    50
d   70   80    70

In [34]:
df[(df['eng'] >= 20) & (df['eng'] <= 50)]

   eng  kor  math
b   30   40    50
c   50   60    20

## query 함수

In [37]:
# df[df['eng']>40]
df.query('eng>40')

   eng  kor  math
c   50   60    20
d   70   80    70

In [38]:
n=40
# df[df['eng']>40]
df.query('eng>n')    #에러남

UndefinedVariableError: name 'n' is not defined

In [39]:
n=40
# df[df['eng']>40]
df.query(f'eng>{n}') # format 해줘야함

   eng  kor  math
c   50   60    20
d   70   80    70

In [40]:
# df[(df['eng'] == 30) | (df['eng']==70)]
df.query('eng==30 or eng==70')

   eng  kor  math
b   30   40    50
d   70   80    70

In [42]:
# df[(df['eng'] >= 40) & (df['eng'] <= 70)]
# select * from grade where eng>40 and eng <=70
df.query('eng>=40 and eng<=70')
df.query('40 <= eng <= 70')

   eng  kor  math
c   50   60    20
d   70   80    70